/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general style */
body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}
.container-2 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.btn {
  padding: 16px 28px;
  display: inline-block;
  background-color: rgb(228, 93, 107);
  margin-left: 30px;
  border-radius: 3%;
}
.img {
  width: 100%;
  height: 100%;
}
.pera {
  line-height: 1.4;
  color: rgb(145, 147, 148);
  text-align: justify;
}
.flex-darection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.flex-start {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 2rem;
}
li a:hover {
  color: #ff004c;
}
nav a:hover {
  color: #ff004c;
}
/* header */
.header-section {
  background-color: rgb(9, 45, 91);
  padding: 10px 0;
}
.header-div {
  color: white;
}
.header-a {
  color: white;
}
.fa-envelope {
  margin-left: 50px;
}
.fa-brands {
  padding-left: 20px;
}
.header-li {
  padding-left: 30px;
  text-transform: uppercase;
}
.header-li a {
  color: rgb(18, 57, 99);
}
.btn a {
  color: white;
}
.header-logo {
  padding: 20px 0;
}

/* hero-section */
.hero-section {
  background-color: white;
  background-image: url("./assets/media/hero/h1_hero.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.main-small {
  color: red;
  position: relative;
  left: -150px;
}
.heading {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(9, 45, 91);
}
.main-div {
  height: 100%;
  width: 100%;
  /* margin: 0; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;

  justify-content: center;
  line-height: 1.3;
}
.main-btn {
  margin-right: 280px;
  margin-top: 30px;
}
/* section-1 */
.section-1 {
  background-color: rgb(246, 249, 254);
  padding: 150px 0;
}
.about-div {
  width: 30%;
  margin-left: 30px;
}
.pera-div {
  width: 80%;
}
h2 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 900;
  margin: 15px 0;
}
.heading-2 {
  line-height: 1.5;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 900;
  margin: 15px 0;
  text-align: justify;
  margin: 0 auto;
}
.flex-start {
  justify-content: center;
}
.hr {
  width: 23%;
  background-color: #ff004c;
  padding: 1px 0;
  margin-left: 0;
}
/* team-section */
.team-section {
  padding: 100px 0;
  background-color: white;
}
.view-profile {
  color: rgb(122, 124, 138);
}
.fa-angles-right {
  font-size: 10px;
}
.col-3 {
  border: 3px solid rgb(228, 93, 107);
  background-color: white;
  padding: 0 15px;
  width: 20%;
}
.team-div {
  width: 600px;
  height: 400px;
}
.h3-div {
  width: 350px;
  position: absolute;
  right: 260px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  /* box-shadow: (-30px -20px 5px 20px rgba(255, 255, 255, 0.8) ); */
  margin-top: 80px;
}
.heading-3 {
  font-size: 35px;
  font-weight: 900;
  line-height: 1.2;
}
.h3-pera {
  padding: 10px 0;
}
/* service-section */
.section-4 {
  background-color: white;
}
.h4 {
  text-align: center;
  margin: 150px 0;
  color: rgb(25, 29, 52);
  font-size: 50px;
}
.ser-icon {
  font-size: 30px;
  margin-bottom: 20px;
}
.services-div {
  width: 20%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-small {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 900;
  padding: 20px 0;
}
.services-btn-div {
  text-align: center;
  padding: 100px;
}
.services-btn-div li {
  background-color: white;
  border: 1px solid red;
}
.services-btn-div li a {
  color: red;
}

/* cases-section  */
.cases-section {
  width: 100%;
  background-color: rgb(248, 250, 254);
  padding: 300px 0;
}
.cases-div {
  width: 35%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}
.cases-img-div {
  overflow: hidden;
  max-width: 1100px;
  width: 58%;
  height: 400px;
}
h5 {
  font-size: 40px;
}

/* section-6 */

.section-6 {
  padding: 200px 0;
}
.section-6-img-div {
  width: 150px;
  margin: 0 auto;
}
.section-6-pera-div {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  color: rgb(18, 20, 24);
}
.star {
  padding: 30px 0;
}
.fa-star {
  color: rgb(245, 198, 104);
}
/* section-7 */
.section-7 {
  padding-bottom: 200px;
}
.section-7-small {
  color: red;
}
.section-7-img-div {
  width: 30%;
}
.time {
  color: rgb(146, 146, 140);
}
/* section-8 */
.section-8 {
  background-color: rgb(9, 45, 91);
  color: whitesmoke;
  padding: 60px;
}
.section-8-heading-div {
  width: 30%;
}
.section-8-heading {
  font-size: 30px;
  font-weight: 900;
  padding: 20px 0;
}

.section-8-input-div {
  width: 90%;
}
.section-8-input {
  margin-left: 100px;
  padding: 15px;
  padding-right: 120px;
  border: 1px solid whitesmoke;
  background-color: rgb(9, 45, 91);
}
.section-8-services-input {
  padding: 15px;
  padding-right: 300px;
  margin-left: 100px;
  background-color: rgb(9, 45, 91);
  border: 1px solid whitesmoke;
  margin-top: 20px;
}
input {
  border-radius: 2%;
}
.section-8-btn {
  padding: 15px 70px;
}

/* footer-section */
.footer {
  background-color: rgb(248, 250, 254);
  padding: 100px;
}
.footer-div {
  width: 30%;
  padding-left: 30px;
  margin-left: 60px;
  margin-left: 0;
}
.footer-pera {
  margin: 32px 0;
}
.nav-div {
  width: 70%;
}
.footer-nav-div {
  width: 100%;
  padding-left: 30px;
  margin-left: 60px;
  line-height: 2;
  text-transform: capitalize;
}
.footer-nav-div a {
  color: rgb(124, 120, 120);
}
.footer-small {
  color: rgb(45, 82, 123);
  font-size: 20px;
}
.footer-pera-div {
  width: 50%;
}
.footer-hr {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: rgba(20, 20, 197, 0.212);
  border-radius: 50%;
}
.hr-div {
  text-align: center;
}

.copy-right-small {
  color: gray;
}
.fa-heart {
  color: red;
}
.colorlib-small {
  color: red;
}

/* about-page */
.about-hero-section {
  background-image: url(./assets/media/hero/about_hero.jpg);
  background-repeat: no-repeat;
  padding: 150px 0;
}
.hero-div {
  text-align: center;
  font-size: 60px;
  color: white;
  font-weight: 900;
}

/* services-page */
.services-section {
  background-image: url(./assets/media/hero/services_hero.jpg);
  background-repeat: no-repeat;
  padding: 150px 0;
}

/* contacts-page */
.contact-h1 {
  font-size: 30px;
  font-weight: 700;
  margin-left: 90px;
}
.contact-section {
  background-image: url(./assets/media/hero/contact_hero.jpg);
  background-repeat: no-repeat;
  padding: 150px 0;
  margin-bottom: 60px;
}
.ifram-div {
  text-align: center;
}
.contact-section-2 {
  padding: 100px 0;
}
.contact-sms-input {
  padding: 50px 0;
  padding-right: 580px;
  border: 2px solid rgb(229, 230, 233);
  margin: 30px 0;
}
.contact-input-name {
  padding: 20px 0;
  padding-right: 180px;
  margin-right: 40px;
  border: 2px solid rgb(229, 230, 233);
}
.contact-input-enter {
  padding: 20px 0;
  padding-right: 580px;
  margin: 30px 0;
  border: 2px solid rgb(229, 230, 233);
}
.contact-i-div {
  margin-top: 35px;
  padding-bottom: 10px;
}

.contact-small {
  margin-left: 20px;
  font-size: 15px;
}
.fa-house-user {
  font-size: 30px;
}
.contact-small-2 {
  margin-left: 60px;
  margin-top: 10px;
  color: gray;
}
.contact-btn-div {
  text-align: left;
  padding-top: 0;
}

/* cases-page */
.case-section-1 {
  padding: 200px 0;
  background-color: rgb(248, 250, 254);
}
.case-hero-section {
  background-image: url(./assets/media/hero/cases_hero.jpg);
  padding: 150px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.case-img-div {
  width: 80%;
  height: 400px;
  padding: 20px;
  margin-bottom: 60px;
}
.case-img-pera-div {
  width: 50%;
  background-color: white;
  position: relative;
  bottom: 15px;
  padding: 15px;
}

/* blog-page */
.blog-hero-section {
  background-image: url(./assets/media/hero/blog_hero.jpg);
  padding: 150px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blog-section {
  padding: 150px 0;
}
.blog-img-div {
  width: 550px;
}
.blog-time-div {
  width: 10%;
  text-align: center;
  font-size: 30px;
  background-color: rgb(228, 93, 107);
  color: aliceblue;
  position: relative;
  bottom: 50px;
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
}
.blog-heading2-div {
  width: 500px;
  padding: 20px;
  height: 200px;
  background-color: white;
  border: 1px solid whitesmoke;
  position: relative;
  bottom: 50px;
  line-height: 2;
}
.fa-user-large {
  color: rgb(153, 153, 153);
}
.fa-comments {
  color: rgb(153, 153, 153);
}
.strong {
  color: black;
  font-weight: 900;
  font-size: 20px;
  margin: 0 10px;
}
.small-blog {
  color: rgb(207, 207, 207);
  font-size: 13px;
}
.arrow-div {
  padding: 20px;
  border: 2px solid red;
  margin: 0 10px;
  border: 1px solid rgb(240, 234, 255);
  color: rgb(196, 196, 196);
  font-size: 20px;
}
.arrow-2 {
  background-color: rgb(251, 249, 255);
}
.blog-input-div {
  width: 400px;
  padding: 50px;
  background-color: rgb(251, 249, 255);
}
.blog-serch-input {
  padding: 40px 0;
  padding-right: 120px;
  padding-left: 50px;
  border: 2px solid whitesmoke;
}
.fa-magnifying-glass {
  background-color: rgb(228, 93, 107);
  padding: 20px;
  font-size: 40px;
  color: white;
}
.blog-SEARCH-input {
  padding: 50px 0;
  padding-right: 160px;
  padding-left: 50px;
  border: 2px solid whitesmoke;
  margin: 20px 0;
  border: 2px solid red;
}
/* blog-category-div */

.blog-category-div {
  width: 400px;
  padding: 50px;
  background-color: rgb(251, 249, 255);
  margin: 20px 0;
}
.blog-heading-3 {
  font-size: 30px;
  font-weight: 500;
}
.blog-ul li {
  font-size: 20px;
  color: gray;
  padding: 5px 0;
}
.blog-hr {
  width: 80%;
  background-color: rgba(20, 20, 197, 0.212);
  border-radius: 50%;
}

/* recent post div */

.resent-post-div {
  background-color: rgb(251, 249, 255);
  padding: 40px;
  width: 400px;
}
.blog-recent-img-div {
  width: 400px;
}
.blog-img-div-3 {
  width: 150px;
  padding: 20px 0;
}
.blog-h4 {
  font-size: 20px;
  font-weight: 900;
  margin-top: 55px;
  padding: 20px 0;
}
.h4-time {
  font-size: 20px;
}

/* tag clouds */

.blog-tag-cloud-div {
  width: 400px;
  padding: 40px;
  background-color: rgb(251, 249, 255);
  margin: 20px 0;
}
.projects {
  padding: 10px 20px;
  border: 1px solid rgb(186, 185, 170);
  background-color: white;
}
.technology-div {
  padding: 10px 30px;
  border: 1px solid rgb(186, 185, 170);
  background-color: white;
}

/* instagram-feeds */

.instagran-div {
  width: 400px;
  background-color: rgb(251, 249, 255);
  padding: 40px;
}
.instagram-img-div {
  width: 110px;
}
/* newsletter-div */

.newsletter-div {
  margin: 30px 0;
}
